.navbar1.fixed {
    background-color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 8px 0px #4CAF4F;
    animation-name: InDown;
    animation-duration: 1s;
}

@keyframes InDown {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }

    to {
        opacity: 1;
        transform: none
    }
}